.page-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-height: 100vh;
}

.navigation-bar {
  background-color: yellow;
  height: 56px;
}

.page-content {
  flex: 1;
  display: flex;
  overflow: auto;
}

.sidebar {
  box-shadow: 0px 4px 10px 10px #0004;
  width: 220px;
  transition: width 0.5s ease-out;
}

.content {
  width: calc(100vw - 220px);
  overflow: auto;
  padding: 20px;
}

.footer {
  background-color: #0000001a;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-brand.text-white {
  font-family: Arial, Helvetica, sans-serif
}

.logoImage {
  height: 22px;
  vertical-align: text-top;
  margin-right: 5px;
}

.body-card {
  border-radius: 5px;
  border: 2px solid lightgrey;
  box-shadow: 2px 2px 5px 5px lightgrey;
  height: 100%;
  padding: 0.75rem;
}